body {
    display:flex;
    flex-direction: column;
    margin:0;
}

.header {
    background-color:aquamarine;
    padding: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}

.game {
    background-color: azure;
    padding: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:25px;
}

.game .text {
    font-size: 40px;
}

.game .buttons {
    display:flex;
    gap:10px;
}

.game button {
    font-size: 25px;
}